#GameCanvas
{
  border:1px solid #666;
  margin: 0 auto;
  background-color: white;
}

.title
{
  color: white;
  font-size: 40px;
  margin: 5px;
}

#GameContainer
{
  display: inline-block;
  padding: 10px;
 
  text-align: center;
  background: #444;
  border-radius: 5px;
  margin: 70px auto;
}

body
{
  text-align: center;

  height: 100vh;
  background: rgb(1,13,34);
  background: linear-gradient(172deg, rgba(1,13,34,1) 1%, rgba(111,143,233,1) 74%);
}