#GameCanvas
{
  border:1px solid #333;
  margin: 0 auto;
  background-color: #ebf2ff;
  cursor: crosshair;
}

.title
{
  color: #ebf2ff;
  font-size: 40px;
  margin: 5px;
  font-family: "Roboto";
}

#nojs
{
  color:#ebf2ff;
  margin:0 auto;
}

#GameContainer
{
  padding: 10px;
  text-align: center;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Container
{
  display: inline-block;
  margin: 10vh auto;
}

#tips
{
  margin-top: 20px;
  color: #222;
}

.tip
{
  margin-top: 50px !important;
}

.github
{
  height: 40px;
  width: 40px;
  fill: #222;
}
.github:hover
{
  fill: #444;
}

body
{
  text-align: center;
  height: 100vh;
  background: rgb(51,119,186);
  background: linear-gradient(137deg, rgba(51,119,186,1) 0%, rgba(154,200,245,1) 100%); 
}